{% extends 'base.html' %} {% block body %}

<!--  Include navbar.html -->
{% include 'navbar.html' %}

<!-- Alert Message  -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        <strong>{{ category.capitalize() }}:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<!--  Include form.html -->
{% include 'form.html' %}

<!--  Include table.html -->
{% include 'table.html' %}

{% endblock body %}
